@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --accent-color: #2196f3;
  --hero-buttom-active: #188ce8;
  --default-icon-color: #afb1b8;
  --margin-items: 30px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
.offer__checkbox--visually-hidden, .section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--second-bg {
  background-color: var(--second-bg-color);
}
.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section--other-size {
    padding-bottom: 0;
  }
  .section__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  padding: 10px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: background-color var(--transition);
}
.btn:hover, .btn:focus {
  background-color: var(--hero-buttom-active);
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__second-part {
  color: #000000;
}
.logo__second-part--inverse {
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.menu-container {
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .menu-container {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 48px 40px;
    overflow: auto;
    background-color: var(--primary-bg-color);
    transform: translateY(-100%);
    transition: transform var(--transition);
  }
  .menu-container.is-open {
    transform: translateY(0);
  }
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin-left: auto;
    background-color: var(--primary-bg-color);
    border: none;
    cursor: pointer;
  }
  .menu-toggle__btn:hover, .menu-toggle__btn:focus {
    fill: var(--accent-color);
  }
  .menu-toggle__icon {
    display: block;
  }
  .menu-toggle__icon-cross {
    display: block;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.nav {
  margin-bottom: auto;
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item:nth-child(n+2) {
  margin-top: 32px;
}
.nav__link {
  display: inline-block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav {
    margin-left: auto;
    margin-right: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item:nth-child(n+2) {
    margin-top: 0;
    margin-left: 50px;
  }
  .nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav__link--current {
    color: var(--accent-color);
  }
  .nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 92px;
  }
}

.communication {
  list-style: none;
  padding: 0;
  margin: 0;
}
.communication__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition);
}
.communication__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--transition);
}
.communication__link:hover, .communication__link:focus {
  color: var(--accent-color);
}
.communication__link:hover .communication__icon, .communication__link:focus .communication__icon {
  fill: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .communication {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .communication__item:nth-child(n+2) {
    margin-bottom: 32px;
  }
  .communication__link--number {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    color: var(--accent-color);
  }
  .communication__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .communication {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .communication__item:nth-child(n+2) {
    margin-top: 10px;
  }
  .communication__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .communication {
    align-items: center;
    flex-direction: row;
  }
  .communication__item:nth-child(n+2) {
    margin-top: 0;
    margin-left: var(--margin-items);
  }
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.socials-list__item {
  width: 44px;
  height: 44px;
}
.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition);
}
.socials-list__icon {
  fill: var(--default-icon-color);
  transition: fill var(--transition);
}
.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--accent-color);
}
.socials-list__link:hover .socials-list__icon, .socials-list__link:focus .socials-list__icon {
  fill: var(--primary-bg-color);
}
@media screen and (max-width: 767px) {
  .socials-list--mob-menu {
    justify-content: start;
  }
  .socials-list__item--mob-menu {
    width: auto;
    height: auto;
  }
  .socials-list__link--mob-menu {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    text-decoration: none;
    color: var(--accent-color);
  }
}
@media (min-width: 768px) {
  .socials-list--mob-menu {
    display: none;
  }
}

.address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.address__item:nth-child(n+2) {
  margin-top: 9px;
}
.address__link {
  display: block;
  color: var(--third-text-color);
  font-style: normal;
  text-decoration: none;
  transition: color var(--transition);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}
.address__link--light {
  color: var(--primary-bg-color);
}

.join-socials {
  margin-bottom: 60px;
}
.join-socials__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .join-socials {
    text-align: start;
    margin-bottom: 0;
  }
}

.socials-list__link--in-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon--in-footer {
  fill: var(--primary-bg-color);
}

.subscription-form__label {
  display: flex;
  flex-direction: column;
}
.subscription-form__title {
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscription-form__input {
  padding: 14px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.subscription-form__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription-form__icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--primary-bg-color);
}
@media screen and (min-width: 768px) {
  .subscription-form {
    width: 100%;
    margin-left: 77px;
    margin-right: 63px;
  }
}
@media (min-width: 1200px) {
  .subscription-form {
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
  }
  .subscription-form__input {
    margin: 0;
    width: 358px;
  }
  .subscription-form__label {
    align-items: flex-start;
  }
  .subscription-form__btn {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px 15px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: block;
  position: relative;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  transition: opacity var(--transition), transform var(--transition), box-shadow var(--transition);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop--is-hidden .modal {
  transform: translate(0%, -100%) scale(0.25);
  opacity: 0.25;
}
.modal__btn-closing {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  transition: fill var(--transition);
  cursor: pointer;
}
.modal__btn-closing:hover, .modal__btn-closing:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

/* ========== Модальна форма ========== */
.modal-form {
  width: 100%;
}
.modal-form__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.modal-form__fields {
  margin: 0;
  padding: 0;
  border-style: none;
  margin-bottom: 20px;
}
.modal-form__label {
  display: block;
}
.modal-form__label:nth-child(n+3) {
  margin-top: 10px;
}
.modal-form__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__icon-box {
  display: block;
  position: relative;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}
.modal-form__input {
  height: 40px;
  padding: 11px 41px;
  width: 100%;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: var(--accent-color);
}
.modal-form__input:focus-visible {
  outline: none;
}
.modal-form__input:hover + .modal-form__icon, .modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__comments {
  display: block;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
}
.modal-form__comments:hover, .modal-form__comments:focus {
  border-color: var(--accent-color);
}
.modal-form__comments:focus-visible {
  outline: none;
}
.modal-form__comments::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comments:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comments::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.offer__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
.offer__custom-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  background-image: url(../images/check-empty.svg);
  border-radius: 3px;
  transition: box-shadow var(--transition), background-image var(--transition);
}
.offer__checkbox:checked + .offer__custom-checkbox {
  background-image: url(../images/check.svg);
  background-size: contain;
}
.offer__checkbox:focus + .offer__custom-checkbox {
  box-shadow: 0 0 4px 2px var(--accent-color);
}
.offer__link {
  color: var(--accent-color);
}
.offer__link:hover, .offer__link:focus {
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .offer__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  gap: 15px 8px;
}
.filter__btn {
  display: block;
  min-width: 73px;
  padding: 6px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .filter {
    max-width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.portfolio {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio__item {
  margin-bottom: var(--margin-items);
  background-color: var(--primary-bg-color);
}
.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition);
}
.portfolio__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}
.portfolio__lower-box {
  padding: 20px 23px 19px 23px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio__name {
  margin-bottom: 4px;
  margin-top: 0;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__type {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-items);
  }
  .portfolio__item {
    margin: 0;
    flex-basis: calc((100% - 1 * var(--margin-items)) / 2);
  }
  .portfolio__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .portfolio__lower-box {
    flex-grow: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 2 * var(--margin-items)) / 3);
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.hero {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob@3x.jpg);
  }
}
.hero__title {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: var(--margin-items);
  padding: 0 15px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__btn {
  padding: 10px 24px;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--margin-items);
}
.features__item:not(:last-child) {
  margin-bottom: var(--margin-items);
}
.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: var(--margin-items);
  background-color: var(--second-bg-color);
  border-radius: 4px;
}
.features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}
.features__text {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-items);
  }
  .features__item {
    margin: 0;
    flex-basis: calc((100% - 1 * var(--margin-items)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 3 * var(--margin-items)) / 4);
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--margin-items);
}
.works__item {
  position: relative;
}
.works__img {
  display: block;
}
.works__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.works__text {
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section--works {
    display: none;
  }
}
.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-items);
    flex-basis: calc((100% - 1 * var(--margin-items)) / 2);
  }
}

.employee {
  margin-bottom: var(--margin-items);
  background-color: var(--primary-bg-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.employee__lower-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.employee__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.employee__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.employee__position {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .employee {
    margin: 0;
    flex-basis: calc((100% - 1 * var(--margin-items)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .employee {
    flex-basis: calc((100% - 3 * var(--margin-items)) / 4);
  }
}

/* ========== Постійні клієнти ========== */
.customers {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-items);
  list-style: none;
  padding: 0;
  margin: 0;
}
.customers__item {
  width: calc((100% - 1 * var(--margin-items)) / 2);
}
.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--default-icon-color);
  border-radius: 4px;
  height: 92px;
  transition: border-color var(--transition);
}
.customers__icon {
  display: block;
  fill: var(--default-icon-color);
  transition: fill var(--transition);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--accent-color);
}
@media (min-width: 768px) {
  .customers__item {
    width: calc((100% - 2 * var(--margin-items)) / 3);
  }
}
@media (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 5 * var(--margin-items)) / 6);
  }
}

/* ==================== Підвал ==================== */
.footer {
  background-color: var(--third-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  text-align: center;
}
.footer__com-link {
  margin-bottom: 60px;
}
.footer__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 89px;
    padding-right: 89px;
  }
  .footer__com-link {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__com-link {
    text-align: start;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */