.features {
  list-style: none;
  padding: 0;
  margin: 0;

  gap: var(--margin-items);

  &__item:not(:last-child) {
    margin-bottom: var(--margin-items);
  }

  &__box {
    @include centeredFlex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: var(--margin-items);

    background-color: var(--second-bg-color);
    border-radius: 4px;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    text-align: center;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: calc(16px / 14px);
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-items);

    &__item {
      margin: 0;
      flex-basis: calc((100% - 1 * var(--margin-items)) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      flex-basis: calc((100% - 3 * var(--margin-items)) / 4);
    }
  }
}
