/* ==================== Підвал ==================== */

.footer {
  background-color: var(--third-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    text-align: center;
  }

  &__com-link {
    margin-bottom: 60px;
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;

      padding-left: 89px;
      padding-right: 89px;
    }

    &__com-link {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 1200px) {
    &__container {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__com-link {
      text-align: start;
      margin-bottom: 0;
    }
  }
}
