.hero {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: #c4c4c4;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mob.jpg);
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob@3x.jpg);
  }

  &__title {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: var(--margin-items);
    padding: 0 15px;

    color: var(--primary-bg-color);
    @include fontSize(900, 26px, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__btn {
    padding: 10px 24px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tab.jpg);
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tab@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tab@3x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desk.jpg);
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desk@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desk@3x.jpg);
    }

    &__title {
      max-width: 696px;
      @include fontSize(900, 44px, 60px);
    }

    &__btn {
      padding: 10px 32px;
    }
  }
}
