.team-list {
  list-style: none;
  padding: 0;
  margin: 0;

  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-items);

    flex-basis: calc((100% - (1 * var(--margin-items))) / 2);
  }
}

.employee {
  margin-bottom: var(--margin-items);

  background-color: var(--primary-bg-color);
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &__lower-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
    margin-bottom: 16px;
  }

  @media (min-width: 768px) {
    margin: 0;
    flex-basis: calc((100% - (1 * var(--margin-items))) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (3 * var(--margin-items))) / 4);
  }
}
