.works {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;

  gap: var(--margin-items);

  &__item {
    position: relative;
  }

  &__img {
    display: block;
  }

  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 27px;

    background-color: rgba(47, 48, 58, 0.8);
  }

  &__text {
    margin: 0;

    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-bg-color);
    text-transform: uppercase;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .section--works {
    display: none;
  }
}
