.menu-container {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 48px 40px;

  background-color: var(--primary-bg-color);

  transform: translateY(-100%);
  transition: transform var(--transition);
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin-left: auto;

  background-color: var(--primary-bg-color);
  border: none;

  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__btn:hover,
.menu-toggle__btn:focus {
  fill: var(--accent-color);
}

.menu-toggle__icon {
  display: block;
}

.menu-toggle__icon-cross {
  display: block;
}

