.menu-container {
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .menu-container {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    flex-direction: column;
    padding: 48px 40px;

    overflow: auto;

    background-color: var(--primary-bg-color);

    transform: translateY(-100%);
    transition: transform var(--transition);

    &.is-open {
      transform: translateY(0);
    }
  }

  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin-left: auto;

    background-color: var(--primary-bg-color);
    border: none;

    cursor: pointer;

    &__btn:hover,
    &__btn:focus {
      fill: var(--accent-color);
    }

    &__icon {
      display: block;
    }

    &__icon-cross {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
