.modal {
  display: block;
  position: relative;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;

  max-width: 450px;

  transition: opacity var(--transition), transform var(--transition), box-shadow var(--transition);

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop--is-hidden & {
    transform: translate(0%, -100%) scale(0.25);

    opacity: 0.25;
  }

  &__btn-closing {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-bg-color);

    transition: fill var(--transition);

    cursor: pointer;
  }

  &__btn-closing:hover,
  &__btn-closing:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}
