/* ========== Модальна форма ========== */

.modal-form {
  width: 100%;

  &__title {
    margin-bottom: 12px;
    text-align: center;

    @include fontSize(700, 20px, 30px);
    color: var(--title-text-color);
  }

  &__fields {
    margin: 0;
    padding: 0;
    border-style: none;

    margin-bottom: 20px;
  }

  &__label {
    display: block;
  }

  &__label:nth-child(n + 3) {
    margin-top: 10px;
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__icon-box {
    display: block;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);
    transition: fill var(--transition);
  }

  &__input {
    height: 40px;
    padding: 11px 41px;

    width: 100%;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition);
  }

  &__input:hover,
  &__input:focus {
    border-color: var(--accent-color);
  }

  &__input:focus-visible {
    outline: none;
  }

  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: var(--accent-color);
  }

  &__comments {
    display: block;
    padding: 12px 16px;

    resize: none;
    width: 100%;
    height: 120px;

    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition);
  }

  &__comments:hover,
  &__comments:focus {
    border-color: var(--accent-color);
  }

  &__comments:focus-visible {
    outline: none;
  }

  &__comments::placeholder {
    font-size: 12px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 1200px) {
    &__title {
      @include fontSize(700, 20px, 23px);
    }
  }
}
