.offer {
  @include centeredFlex;
  margin-bottom: 30px;

  &__label {
    @include fontSize(400, 12px, 14px);
    letter-spacing: 0.03em;
  }

  &__checkbox--visually-hidden {
    @extend %visually-hidden;
  }

  &__custom-checkbox {
    display: inline-block;
    vertical-align: middle;

    width: 16px;
    height: 15px;
    margin-right: 8px;

    cursor: pointer;
    background-image: url(../images/check-empty.svg);
    border-radius: 3px;

    transition: box-shadow var(--transition), background-image var(--transition);
  }

  &__checkbox:checked + &__custom-checkbox {
    background-image: url(../images/check.svg);
    background-size: contain;
  }

  &__checkbox:focus + &__custom-checkbox {
    box-shadow: 0 0 4px 2px var(--accent-color);
  }

  &__link {
    color: var(--accent-color);
  }

  &__link:hover,
  &__link:focus {
    text-decoration: none;
  }

  @media screen and (min-width: 1200px) {
    &__label {
      @include fontSize(400, 14px, 24px);
    }
  }
}
