.portfolio {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-bottom: var(--margin-items);
    background-color: var(--primary-bg-color);
  }

  &__link {
    display: block;

    text-decoration: none;

    transition: box-shadow var(--transition);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__thumb {
    position: relative;

    overflow: hidden;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--transition);
  }

  &__text {
    @include centeredFlex;
    margin: 0;

    height: 100%;
    overflow: auto;

    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-bg-color);
  }

  &__link:hover &__overlay,
  &__link:focus &__overlay {
    transform: translateY(0);
  }

  &__lower-box {
    padding: 20px 23px 19px 23px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  &__name {
    margin-bottom: 4px;
    margin-top: 0;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    margin: 0;

    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-items);

    &__item {
      margin: 0;

      flex-basis: calc((100% - (1 * var(--margin-items))) / 2);
    }

    &__link {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__lower-box {
      flex-grow: 2;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      flex-basis: calc((100% - (2 * var(--margin-items))) / 3);
    }
  }
}
